<link rel='stylesheet' href='css/aside.css' />
<aside>
	<div class='currentPage'>{{currentPage}}</div>
	<div class='delete'>
		<a href='/deleteAll'>{{delete}}</a>
	</div>
	<div class='info'>
		{{info}}
	</div>
</aside>