<link rel='stylesheet' href='css/nav.css' />
<nav>
	<ol class='navEls'>
		<li><a href='/'>Upload</a></li>
		<li><a href='/filemenager'>Filemenager</a></li>
		<li><a href='/infoLast'>Info</a></li>
	</ol>
</nav>