<link rel="stylesheet" href="css/nav.css" />
<nav>
    <ol class="navEls">
        <li><a href="/">Upload</a></li>
        <li><a href="/filemenager">Filemenager</a></li>
        <li><a href="/infoLast">Info</a></li>
        <li><a href="/filemenager2">filemenager2</a></li>
        <li><a href="/logout">logout</a></li>
    </ol>
</nav>