.list {
	margin: 40px 80px;
}

h1 {
	font-size: 52px;
	font-family: monospace;
}

.grid > * {
	width: 80vw;
	border-bottom: 1px solid gray;
	display: flex;
	justify-content: space-between;
}

.grid > * > * {
	width: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	all: unset;
	width: 40px;
	height: 30px;
	border-radius: 5px;
	background-color: black;
	color: white;
}

.title > * {
	font-weight: 500;
}
