* {
    box-sizing: border-box;
    margin: 0;
}
.showFile {
    display: flex;
    flex-direction: column;
}

.showFileHeader {
    width: calc(100vw - 300px);
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showFileBody {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.text {
    width: calc(100vw - 350px);
    height: 100%;
}

.lines {
    width: 50px;
    height: 100%;
}
