.showImage {
    width: calc(100vw - 300px);
    height: calc(100vh - 80px);
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.bigImage {
    width: 600px;
    height: 400px;
    background-size: 600px 400px;
    background-repeat: no-repeat;
}

#renameImageDialog {
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 50px);
    width: 300px;
    height: 100px;
}
main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: calc(100vh - 80px);
}
