<link rel='stylesheet' href='css/showFile.css' />
{{> aside4 }}

<div class="showFile">
    <header class="showFileHeader">/{{name}}</header>
    <div class="showFileBody">
        <textarea class="lines"></textarea>
        <textarea class="text" >{{data}}</textarea>

    </div>
</div>

<script src="./js/showFile.js"></script> 