<link rel='stylesheet' href='css/showFile.css' />
{{> aside2 }}

<div class="showFile">
    <header class="showFileHeader">/{{name}}</header>
    <div class="showFileBody">
        <div class="lines">

        </div>
        <textarea class="text">{{data}}</textarea>

    </div>
</div>

<script>
    let lines = document.querySelector
    let textarea = document.querySelector("textarea")
    textarea.onkeyup = function () {
        textarea.value.split("\n");
        add in js
    }
</script>