<link rel='stylesheet' href='css/upload.css' />
{{> nav}}
<main>

{{> aside currentPage=currentPage deleteAll=delete}}
<div class='uploadForm'>
	<form enctype='multipart/form-data' method='POST' action='/upload'>
		<input type='file' multiple required accept='*' name='upload' />
		<button class='sub' type='submit'>upload</button>
	</form>
</div>
</main>
