<link rel='stylesheet' href='css/filemenager.css' />
{{> aside2 }}


<div class="filemenager2">



	{{#each files}}

	<div class="file2">
		<div class="">
		<img src="{{this.obraz}}" alt="http://localhost:3000{{this.obraz}}">
		<button onclick="deleteFile('{{this.name}}')" >x</button>

		</div>
				
		<p>{{this.name}}</p>
	</div>


	{{/each}}
</div>

<script>
	
	async function deleteFile(name){
		
		await fetch("http://localhost:3000/delete2",{
			method:'POST',
			headers:{
				"Content-type":"application/json"
			},
			body:JSON.stringify({name})
		})
		
	   	window.location.reload()
	}
	
</script>