<link rel='stylesheet' href='css/aside2.css' />
<aside>

    <div class="buttons">
        <button onclick="dialog('newFolderDialog','on')">add folder</button>
        <button onclick="dialog('newFileDialog','on')">add file</button>
        {{#if (checkIfHome currentPath )}}
         <button onclick="dialog('renameFolderDialog','on')">rename</button>
        {{/if}}
    <p>{{currentPath}}</p>
        <div class='uploadForm2'>

            <form enctype='multipart/form-data' method='POST' action='/upload2'>
                <input type='file' multiple required accept='*' name='upload' />
                <button class='sub' type='submit'>upload</button>
            </form>

            <dialog id="newFolderDialog">


                <form method='GET' action='/addFolder'>
                    <input name='name' />
                    <button onclick="setTimeout(()=>{dialog('newFolderDialog','off')},100) " type='submit'>upload</button>
                </form>


                <button onclick="dialog('newFolderDialog','off')">close</button>
            </dialog>
            <dialog id="newFileDialog">


                <form method='GET' action='/addFile'>
                    <input name='name' />
                    <button  onclick="setTimeout(()=>{dialog('newFolderDialog','off')},100)" type='submit'>upload</button>
                </form>


                <button onclick="dialog('newFileDialog','off')">close</button>
            </dialog>
         
            <dialog id="renameFolderDialog">


                <form method='GET' action='/renamePath'>
                    <input name='newDir' />
                    <button  onclick="setTimeout(()=>{dialog('renameFolderDialog','off')},100)" type='submit'>upload</button>
                </form>


                <button onclick="dialog('renameFolderDialog','off')">close</button>
            </dialog>
    
</aside>
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, "/filemenager2" );
    }
    function dialog(name, on) {
        console.log("AAA")
        const dialog = document.querySelector(`#${name}`)
        if (on == "on") {
            dialog.showModal();
        } else if (on == "off") {
            dialog.close()
            window.location.reload()
        }
    }

</script>