<link rel="stylesheet" href="css/test/style.css">

<a href="http://localhost:3000/lista">lista/tabela</a>

{{#each items}}

<div class="rab">
    <h5>{{title}}</h5>
    <h1>{{rating}}</h1>
</div>
{{/each}}