<link rel="stylesheet" href="css/aside4.css" />
<aside>

    <div class="buttons">
        <div class="visual">
            <button class="less">-</button>
            <buttom class="colors">kolory</buttom>
            <button class="more">+</button>
        </div>

    </div>
</aside>
<script>
    if ( window.history.replaceState ) { window.history.replaceState( null, null, "/filemenager2" ); }

</script>