<link rel='stylesheet' href='css/showImage.css' />

{{> imageAside }}


<div class="showImage">

    <div class="bigImage" style=" display:'none'; background-image: url('{{imagePath}}');"></div>

</div>

<script src="./js/showImage.js"></script>